[Desktop Entry]
Type=Application
Version=0.1
Name=Diary
GenericName=Diary
Comment= Diario
Icon= /home/qhipa/Documents/Projects/agenda.pyqt/images/diary.png
Exec=python /home/qhipa/Documents/Projects/agenda.pyqt/main.py &
Path=/home/qhipa/Documents/Projects/agenda.pyqt/
Terminal=False
