[Desktop Entry]
Type=Application
Version=0.1
Name=Diary
GenericName=Diary
Comment= Diario
Icon=~/Documents/Projects/agenda.pyqt/images/diary.ico
Exec=python ~/Documents/Projects/agenda.pyqt/main.py &
Path=~/Documents/Projects/agenda.pyqt/
Terminal=False
